{% extends "base/base.html" %}
{% block title %}Welcome{% endblock %}
{% block style %}
    <style>
       .centre {
            margin-left: auto;
            margin-right: auto;
            display: block
      }
    </style>    
{% endblock %}
{% block script %}
{% endblock %}
{% block body %}
    <h1><span class="label label-primary centre">Applications</span></h1>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>AppName</th>
				<th>AppName</th>
				<th>AppName</th>
				<th>AppName</th>
			</tr>
		</thead>
		<tbody>
			<tr>
	    		<td><a href="/logon/">Logon</a></td>
	    		<td><a href="/registration/">Registration</a></td>
	    		<td><a href="/now/">Current Time</a></td>
	    		<td><a href="/now/">Current Time</a></td>
			</tr>
		</tbody>
	</table>
{% endblock %}
