{% extends "base/base.html" %}
{% block title %}Welcome{% endblock %}
{% block style %}
{% endblock %}
{% block script %}
{% endblock %}
{% block body %}
{% include "includes/nav.html" %}
<div class="col-sm-3 col-md-2 sidebar">
{% include "includes/nav_side.html" %}
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="margin-top: 10px">
<!-- User Home Division -->
{% ifequal action "home" %}
{% include "includes/usrhome.html" %}
{% endifequal %}
<!-- User Lastpoll Division -->
{% ifequal action "lastpoll" %}
{% include "includes/lastpolls.html" %}
{% endifequal %}
<!-- User Profile Division -->
{% ifequal action "profile" %}
{% include "includes/profile.html" %}
{% endifequal %}
<!-- User Setting Division -->
{% ifequal action "setting" %}
{% include "includes/setting.html" %}
{% endifequal %}
<!-- User Password Division -->
{% ifequal action "resetpwd" %}
{% include "includes/reset.html" %}
{% endifequal %}
</div>
{% endblock %}