{% extends "base/base.html" %}
{% block title %}Welcome{% endblock %}
{% block style %}
{% endblock %}
{% block script %}
{% endblock %}
{% block body %}
{% include "includes/nav.html" %}
<div class="col-sm-3 col-md-2 sidebar">
{% if polladmin %}
{% include "includes/nav_side_admin.html" %}
{% else %} 
{% include "includes/nav_side.html" %}
{% endif %}
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="margin-top: 10px" id="cont">
{% ifequal action "home" %}
{% include "includes/usrhome.html" %}
{% endifequal %}
{% ifequal action "lastpoll" %}
{% include "includes/lastpolls.html" %}
{% endifequal %}
{% ifequal action "resetpwd" %}
{% include "includes/reset.html" %}
{% endifequal %}

{% ifequal action "createpoll" %}
{% include "includes/createpoll.html" %}
{% endifequal %}
{% ifequal action "allpoll" %}
{% include "includes/allpoll.html" %}
{% endifequal %}
</div>
{% endblock %}