{% extends "base/base.html" %}
{% block title %}Logon{% endblock %}
{% block style %}
    <link href="{{ STATIC_URL }}custom/css/login.css" rel="stylesheet">
{% endblock %}
{% block body %}
<!-- FORGOT PASSWORD FORM -->
<div class="text-center" style="padding:50px 0">
    <div class="logo">forgot password</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="forgetpwd-form" class="text-left" method="post" action="">
        {% csrf_token %}
            <div class="etc-login-form">
                <p>When you fill in your user-id, you will be sent instructions on how to reset your password.</p>
            </div>
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <input type="text" required class="form-control" id="username" name="username" placeholder="user-id">
                    </div>
                </div>
                <button type="submit" class="login-button"><span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
        </form>
    </div>
    <!-- end:Main Form -->
</div>
{% endblock %}