{% extends "base/base.html" %}
{% block title %}Logon{% endblock %}
{% block style %}
    <link href="{{ STATIC_URL }}custom/css/signin.css" rel="stylesheet">
{% endblock %}
{% block body %}
<!-- Single button -->
<div class="formwidth">

<div class="row col-xs-offset-12">
<div class="btn-group">
  <button type="button" class="btn dropdown-toggle glass" data-toggle="dropdown">
    <span class="glyphicon glyphicon-asterisk" style="margin-right: 10px;"></span><span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="requestpwd">Request Password</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Delete My Account</a></li>
  </ul>
</div>
</div>


<!-- <div class="formwidth"> -->
<form class="form-horizontal" method="POST" action="">
    {% csrf_token %}
    <h2 class="form-signin-heading margin10">Please sign in</h2>
    {% for field in form %}
       <div class="form-group">
       <label for="{{ field.id_for_label }}" class="control-label col-xs-4">{{ field.label }}</label>
       <div class="col-xs-8">
           {{ field }}
       </div>
    </div>
    {% endfor %}
    <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 5%;">Login</button>
</form> <!-- form-signin -->
</div> <!-- /container -->
{% endblock %}