{% extends "base/base.html" %}
{% block title %}{% endblock %}
{% block style %}
<link href="{{ STATIC_URL }}custom/css/msg.css" rel="stylesheet">
{% endblock %}
{% block script %}
{% endblock %}
{% block body %}
<div id="w">
    <div id="content">
      <div class="notify successbox">
        <h1>Failure!</h1>
        <span class="alerticon"><img src="{{ STATIC_URL }}icons/msgs/error.png" alt="checkmark" /></span>
        <span style="text-align: center;"><p>{{ msg }}</p></span>
        <a href="{{ url }}" class="btn btn-danger btn-md" style="display: inherit;">
        <span class="glyphicon glyphicon-home"></span> {{ bt }}</a> 
      </div>  
    </div><!-- @end #content -->
  </div><!-- @end #w -->
{% endblock %}