<link href="{{ STATIC_URL }}custom/css/createpoll.css" rel="stylesheet">
<script src="{{ STATIC_URL }}custom/js/createpoll.js"></script>
{% if rc %}
    {% ifequal rc "Y" %}
        <div class="container alert alert-success col-md-4 col-xs-6 col-md-offset-3" role="alert" style="text-align: center;margin-top: 10%">
            <strong>Success!</strong> Your poll submitted successfully.
        </div>
    {% endifequal %}
    {% ifequal rc "N" %}
        <div class="container alert alert-success col-md-4 col-xs-6 col-md-offset-3" role="alert" style="text-align: center;margin-top: 10%">
            <strong>Failure!</strong> Technical Failure.
        </div>
    {% endifequal %}    
{% else %}
<div style="margin-top: 10px;">
    <div class="panel panel-primary">
            <!-- Panel Heading Div -->
            <div class="panel-heading" style="background: #2c9473">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-th"></span>
                    Create a new poll.   
                </h3>
            </div>
            <!-- Panel Body Div -->
            <div class="panel-body">
              <div class="input-group">
                <span class="input-group-addon addOnWidth1 pollName">Poll Name</span> 
                <input type="text" class="form-control" id="pollName">
              </div>
              <h3><button type="button" class="btn" id="qbtn"><span style="color: #2c9473" class="glyphicon glyphicon-plus" data-toggle="tooltip" title="Add a poll question">Add</span></button></h3>
              <h4 id="errormsg"  style="display: none;"><span class="label label-danger">Correct errors. Take help from tooltip.</span></h4>
              <div id="questionId"></div>
              <!-- Above is autogenrated code from jquery -->
            </div><!-- End of panel body -->
            
            <!-- Panel Footer Body -->
            <div class="panel-footer" style="margin-top: 10px">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <button type="submit" form="createpoll" id="submitForm" class="btn icon-btn-save btn-success" style="margin-left: 48%;background: #2c9473;" >
                    <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>Save</button>
                </div>
           </div>
           </div>
    </div>
</div>
<form method="POST" action="" id="createpoll">
{% csrf_token %}
    <input id="jsonData" type="hidden" name="jsonData" value=""/>
</form>
{% endif %}
