{% if msg_list %}
    {% for msg in msg_list %}
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-8 col-sm-8 col-xs-10 alert {{ alert }} col-md-offset-2 col-sm-offset-2 col-xs-offset-1" role="alert" style="text-align: center;">
            <strong>{{ head }} !!</strong> {{ msg }}
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="row" style="margin-top: 25px;">
        <div class="alert alert-danger col-md-8 col-sm-8 col-xs-10 col-md-offset-2 col-sm-offset-2 col-xs-offset-1" role="alert" style="text-align: center;">
            <strong>PostMortem Needed !!</strong> Call FRANKENSTEIN... HaHaHa
        </div>
    </div>
{% endif %}

