<link href="{{ STATIC_URL }}custom/css/caro.css" rel="stylesheet">
<link href="{{ STATIC_URL }}custom/css/lastpolls.css" rel="stylesheet">
<script src="{{ STATIC_URL }}others/js/Chart.min.js"></script>
<script src="{{ STATIC_URL }}custom/js/lastpolls.js"></script>

<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 50px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" id="indi_0"></li>
            <li data-target="#myCarousel" data-slide-to="1" id="indi_1"></li>
    </ol>
    
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <div class="panel panel-primary" style="background-color: #ECECEA; border-color:#028482;">
                        <div class="panel-heading" style="background: #028482; border-color:#028482;color: whitesmoke;">
                            <h3 class="panel-title" style="text-align: left;">
                                <span class="glyphicon glyphicon-arrow-right"></span>Who is your favorite manager
                            </h3>
                        </div><!-- panel heading end -->
                            <div class="panel-body">
                                <div class="row">
                                <div class="col-md-4 col-xs-12">
                                  <canvas id="myChart" width="200" height="200"></canvas>
                                </div>
                                <div class="col-md-8 col-xs-12">
                                    <ul class="list-group" style="text-align: left;">
                                        <li class="list-group-item" style="background-color: #F7464A;"><span class="badge">14 %</span>Cras justo odio</li>
                                        <li class="list-group-item"><span class="badge">27 %</span>Dapibus ac facilisis in</li>
                                        <li class="list-group-item"><span class="badge">83 %</span>Morbi leo risus</li>
                                        <li class="list-group-item"><span class="badge">92 %</span>Porta ac consectetur ac</li>
                                        <li class="list-group-item"><span class="badge">42 %</span>Vestibulum at eros</li>
                                        <li class="list-group-item"><span class="badge">27 %</span>Dapibus ac facilisis in</li>
                                    </ul>
                                </div>
                                </div>
                            </div><!-- panel body end -->
                    </div><!-- panel end -->
                </div>
            </div>
      </div>
        
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="color: gray;"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: gray;width: 10%;"></span>
        <span class="sr-only">Next</span>
      </a>
</div>
</div>
