<link href="{{ STATIC_URL }}custom/css/usr_completed_polls.css" rel="stylesheet">
<link href="{{ STATIC_URL }}others/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}custom/js/usr_completed_polls.js"></script>
<script src="{{ STATIC_URL }}others/js/moment.min.js"></script>
<script src="{{ STATIC_URL }}others/js/bootstrap-datetimepicker.min.js"></script>
<form method="POST" action="" id="dateform">
{% csrf_token %}
{% include "includes/datepicker.html" %}
</form>
<div id="polllist">
{% if poll_dict %}
{% for k, v in poll_dict.items %}
 <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="list-group">
            <button id="pn{{ k }}" type="submit" form="showpoll" class="list-group-item pollFont" style="background-color: #F3FAB6; color:#005A31;">{{ v }}</button>
        </div>
    </div>
 </div>
{% endfor %} 
{% else %}
<div class="container alert alert-success col-md-4 col-xs-6 col-md-offset-3" role="alert" style="text-align: center;margin-top: 15%">
    <strong>Oops!</strong> No polls for you !!!
</div>
{% endif %}
</div>

<form method="POST" action="showpoll/" id="showpoll">
{% csrf_token %}
    <input id="pollid" type="hidden" name="pollid" value=""/>
</form>
