{% extends "base/base.html" %}
{% block title %}Current Time{% endblock %}
{% block style %}
<!-- Write Style Here -->
<style>
	.centre {
	    margin-left: auto;
	    margin-right: auto;
	    display: block
	}
</style>
{% endblock %}
{% block script %}
<!--  Write Script Here -->
{% endblock %}
{% block body %}
<br><br>
<div class="row">
<h2><span class="label label-success centre">{{ current_time }}</span></h2>
</div>

<div class="row">
<h2><span class="label label-danger col-md-6">{{ current_time }}</span></h2>
<h2><span class="label label-warning col-md-6">{{ current_time }}</span></h2>
</div>

<div class="row text-center">
<h2><span class="label label-success pagination-centered">{{ current_time }}</span></h2>
</div>

<div class="row">
<h2><span class="label label-danger col-md-3 col-md-offset-4">{{ current_time }}</span></h2>
</div>

{% endblock %}